*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: aliceblue;
}
.darkMode{
  scale: 0.5;
  width: 100px;
  height: 60px;
}
.insideDarkMode{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}


/* .roboto-mono-<uniquifier> {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.hover{
  cursor: pointer;
  user-select: none;
}
.hoverOrange:hover{
  color: orange;
  cursor: pointer;
}
.borderOrange{
  outline: none;
  border: 5px solid orange;
}
a{
  text-decoration: none;
}
.topSlide{
  animation: link  0.8s ease-in-out;
}
@keyframes link{
  from{
    transform: translateY(-600px);
  }
  to{
    transform: translateY(0);
  }
}
.downSlide{
  animation: downSlide 1s ease;
}
@keyframes downSlide{
  from{
    transform: translateY(500px);
  }
  to{
    transform: translateY(0);
  }
}
.underLine:hover::after{
  content: "";
  transition:0.5s ;
  display: block;
  width: 100%;
  z-index: 999;
  height: 3px;
  background-color: blueviolet;
}
.sideSlide{
  animation: side 0.8s ease;
}
@keyframes side{
  from{
    transform: translateX(-600px);
  }
  to{
    transform: translateX(0);
  }
}
.rightSlide{
  animation: right 1s ease;
}
@keyframes right{
  from{
    transform: translateX(600px);
  }
  to{
    transform: translateX(0);
  }
}
body{
  overflow-x: hidden;
}
.link{
  color: aliceblue;
}
li{
  list-style: none;
}